.lhtrpg-card {
    color: $lhtrpg-font-color-primary;
    background: rgba($lhtrpg-color-dark-green, 0.95);
    border: 4px solid $lhtrpg-items-bg-item-control;
    border-radius: 5px;
    padding: 4px;

    a.content-link,
    a.inline-roll {
        border: none;
        background: none;
        color: $lhtrpg-font-color-ui;
        border-bottom: 1px solid $lhtrpg-font-color-ui;
    }

    h1 {
        border-bottom: 2px solid $lhtrpg-font-focus-shadow;
    }
}

.card-img-border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 60px;
    height: 60px;
    background-size: 60px;
    width: 60px;
    border: none;
    background-image: url(../assets/ui/inventory/item-bg.webp);
}

.card-img {
    height: auto;
    width: 48px;
    border: none;
}

.card-name {
    flex-direction: row;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
}

.card-description {
    margin: 1px;
    font-size: inherit;
    text-align: left;
    line-height: inherit;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;

    p {
        font-size: 12px;
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 5 columnas con el mismo ancho */
    gap: 10px;
    /* Espacio entre columnas */
}

.card-grid1 {
    display: grid;
    /* 5 columnas con el mismo ancho */
    gap: 10px;
    /* Espacio entre columnas */
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-div {
    padding: 5px;
    /* Espacio interno */
    border-bottom: 2px solid $lhtrpg-font-focus-shadow;
    /* Borde para cada elemento */
    text-align: center;
    display: grid;

    label {
        color: $lhtrpg-font-color-ui;
    }

    span {
        font-weight: bold;
    }
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-content: center;
    border-bottom: none;
    margin-top: -10px;
    margin-bottom: -10px;

    span {
        font-size: 12px;
        font-weight: bold;
        color: $lhtrpg-color-dark-green;
        background-color: $lhtrpg-font-focus-shadow;
        border-radius: 5px;
        padding: 4px;
        margin-right: 2px;
    }
}

.grid-2card {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: auto 1fr;
}

.card-input {
    text-align: center;
}

.card-header {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header-card-fields {
    display: flex;
    align-items: center;
}